@import "bootstrap.min.css";
@import "fonts.css";
.pt-30px {
  padding-top: 30px;
}

.pt-100px {
  padding-top: 100px;
}

.pt-80px {
  padding-top: 80px;
}

.pt-260px {
  padding-top: 260px;
}

.pt-320px {
  padding-top: 320px;
}

.font-weight-500 {
  font-weight: 500;
}

.font-size-14 {
  font-size: 14px;
}

.text-primary {
  color: #153A59 !important;
}

.text-muted {
  color: #8D8D8D !important;
}

.text-pink {
  color: #F0508A !important;
}

.text-decoration-underline {
  text-decoration: underline;
}

h1, h2, h3 {
  font-family: "Patua One", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 45px;
  line-height: 54px;
  color: #FFFFFF;
}

h2 {
  font-size: 28px;
  color: #153A59;
}

h3 {
  font-size: 22px;
  color: #153A59;
}
h3 span {
  font-weight: bold;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.16);
}

p {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #153A59;
}

.striped-border {
  position: relative;
  top: -16px;
  border-top: 6px solid;
  border-image: -moz-linear-gradient(left, #F0508A 0%, #F0508A 20%, #B93E73 20%, #B93E73 20%, #B93E73 40%, #B5CBEA 40%, #B5CBEA 40%, #B93E73 40%, #B5CBEA 40%, #B5CBEA 40%, #B5CBEA 60%, #2464B0 60%, #2464B0 80%, #153A59 80%, #153A59 80%, #153A59 100%);
  /* FF3.6+ */
  border-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #F0508A), color-stop(20%, #F0508A), color-stop(20%, #B93E73), color-stop(20%, #B93E73), color-stop(40%, #B93E73), color-stop(40%, #B5CBEA), color-stop(40%, #B5CBEA), color-stop(40%, #B93E73), color-stop(40%, #B5CBEA), color-stop(40%, #B5CBEA), color-stop(60%, #B5CBEA), color-stop(60%, #2464B0), color-stop(80%, #2464B0), color-stop(80%, #153A59), color-stop(80%, #153A59), color-stop(100%, #153A59)) 1 stretch repeat;
  /* Chrome,Safari4+ */
  border-image: -webkit-linear-gradient(left, #F0508A 0%, #F0508A 20%, #B93E73 20%, #B93E73 20%, #B93E73 40%, #B5CBEA 40%, #B5CBEA 40%, #B93E73 40%, #B5CBEA 40%, #B5CBEA 40%, #B5CBEA 60%, #2464B0 60%, #2464B0 80%, #153A59 80%, #153A59 80%, #153A59 100%) 1 stretch repeat;
  /* Chrome10+,Safari5.1+ */
  border-image: -o-linear-gradient(left, #F0508A 0%, #F0508A 20%, #B93E73 20%, #B93E73 20%, #B93E73 40%, #B5CBEA 40%, #B5CBEA 40%, #B93E73 40%, #B5CBEA 40%, #B5CBEA 40%, #B5CBEA 60%, #2464B0 60%, #2464B0 80%, #153A59 80%, #153A59 80%, #153A59 100%) 1 stretch repeat;
  /* Opera 11.10+ */
  border-image: -ms-linear-gradient(left, #F0508A 0%, #F0508A 20%, #B93E73 20%, #B93E73 20%, #B93E73 40%, #B5CBEA 40%, #B5CBEA 40%, #B93E73 40%, #B5CBEA 40%, #B5CBEA 40%, #B5CBEA 60%, #2464B0 60%, #2464B0 80%, #153A59 80%, #153A59 80%, #153A59 100%) 1 stretch repeat;
  /* IE10+ */
  border-image: linear-gradient(to right, #F0508A 0%, #F0508A 20%, #B93E73 20%, #B93E73 20%, #B93E73 40%, #B5CBEA 40%, #B5CBEA 40%, #B93E73 40%, #B5CBEA 40%, #B5CBEA 40%, #B5CBEA 60%, #2464B0 60%, #2464B0 80%, #153A59 80%, #153A59 80%, #153A59 100%) 1 stretch repeat;
  /* W3C */
}

.striped-border-bottom {
  border-top: 6px solid;
  border-image: -moz-linear-gradient(left, #153A59 0%, #153A59 20%, #2464B0 20%, #2464B0 20%, #2464B0 40%, #B5CBEA 40%, #B5CBEA 40%, #2464B0 40%, #B5CBEA 40%, #B5CBEA 40%, #B5CBEA 60%, #B93E73 60%, #B93E73 80%, #F0508A 80%, #F0508A 80%, #F0508A 100%);
  /* FF3.6+ */
  border-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #153A59), color-stop(20%, #153A59), color-stop(20%, #2464B0), color-stop(20%, #2464B0), color-stop(40%, #2464B0), color-stop(40%, #B5CBEA), color-stop(40%, #B5CBEA), color-stop(40%, #2464B0), color-stop(40%, #B5CBEA), color-stop(40%, #B5CBEA), color-stop(60%, #B5CBEA), color-stop(60%, #B93E73), color-stop(80%, #B93E73), color-stop(80%, #F0508A), color-stop(80%, #F0508A), color-stop(100%, #F0508A)) 1 stretch repeat;
  /* Chrome,Safari4+ */
  border-image: -webkit-linear-gradient(left, #153A59 0%, #153A59 20%, #2464B0 20%, #2464B0 20%, #2464B0 40%, #B5CBEA 40%, #B5CBEA 40%, #2464B0 40%, #B5CBEA 40%, #B5CBEA 40%, #B5CBEA 60%, #B93E73 60%, #B93E73 80%, #F0508A 80%, #F0508A 80%, #F0508A 100%) 1 stretch repeat;
  /* Chrome10+,Safari5.1+ */
  border-image: -o-linear-gradient(left, #153A59 0%, #153A59 20%, #2464B0 20%, #2464B0 20%, #2464B0 40%, #B5CBEA 40%, #B5CBEA 40%, #2464B0 40%, #B5CBEA 40%, #B5CBEA 40%, #B5CBEA 60%, #B93E73 60%, #B93E73 80%, #F0508A 80%, #F0508A 80%, #F0508A 100%) 1 stretch repeat;
  /* Opera 11.10+ */
  border-image: -ms-linear-gradient(left, #153A59 0%, #153A59 20%, #2464B0 20%, #2464B0 20%, #2464B0 40%, #B5CBEA 40%, #B5CBEA 40%, #2464B0 40%, #B5CBEA 40%, #B5CBEA 40%, #B5CBEA 60%, #B93E73 60%, #B93E73 80%, #F0508A 80%, #F0508A 80%, #F0508A 100%) 1 stretch repeat;
  /* IE10+ */
  border-image: linear-gradient(to right, #153A59 0%, #153A59 20%, #2464B0 20%, #2464B0 20%, #2464B0 40%, #B5CBEA 40%, #B5CBEA 40%, #2464B0 40%, #B5CBEA 40%, #B5CBEA 40%, #B5CBEA 60%, #B93E73 60%, #B93E73 80%, #F0508A 80%, #F0508A 80%, #F0508A 100%) 1 stretch repeat;
  /* W3C */
}

/* Navigation
================================================== */
.start-header {
  opacity: 1;
  transform: translateY(0);
  padding: 16px 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 10px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navigation-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar {
  padding: 0;
}

.navbar-brand img {
  height: 28px;
  width: auto;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

.navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid #153A59;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #153A59;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
  top: 8px;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  border-color: transparent;
}

.nav-link {
  font-family: "Patua One", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #153A59;
  transition: all 200ms linear;
  position: relative;
  padding: 5px 0 !important;
  display: inline-block;
}

.nav-item:hover .nav-link {
  color: #0056b3 !important;
}

.nav-item.active .nav-link {
  color: #0056b3 !important;
}

.nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #0056b3;
  opacity: 0;
  transition: all 200ms linear;
}

.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}

.nav-item.active:hover:after {
  opacity: 0;
}

.nav-item {
  position: relative;
  transition: all 200ms linear;
}

.dropdown-item {
  font-family: "Patua One", sans-serif;
  font-weight: normal;
  color: #153A59;
  font-size: 16px;
}

.dropdown-menu {
  border: none;
}

/* International Telephone Input
================================================== */
.iti__flag {
  background-image: url("../images/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../images/flags@2x.png");
  }
}
.iti {
  display: block;
}

.iti--separate-dial-code .iti__selected-flag {
  background-color: #F6F8F9;
}

/* iframe video
================================================== */
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  box-shadow: 0 20px 20px #00000022;
  border-radius: 15px;
  transition: all 0.3s;
}
.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  transition: all 0.3s;
  cursor: pointer;
}
.iframe-container iframe .video-container {
  border-radius: 10px;
}

/* Custom checkbox
================================================== */
.custom-checkbox .custom-control-label::before {
  background-color: #FFFFFF;
  border: 1px solid #B5CBEA;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  width: 21px;
  height: 21px;
  top: 0px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #FFFFFF;
  cursor: pointer;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
  background-color: #FFFFFF;
  cursor: pointer;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("../images/checkbox.svg");
}

.custom-control-label::after {
  top: 2px;
  left: -21px;
  cursor: pointer;
}

.custom-control-label {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #153A59;
  vertical-align: middle;
}
.custom-control-label a {
  color: #153A59;
  text-decoration: underline;
}

.submit-btn {
  font-family: "Patua One", sans-serif;
  font-weight: normal;
  font-size: 18px;
  background-color: #F0508A;
  color: #FFFFFF;
  padding: 20px 0;
}
.submit-btn:hover, .submit-btn:focus {
  color: #FFFFFF;
}
.submit-btn:hover {
  transition: all 0.1s;
  box-shadow: 0 10px 10px #00000022;
}

.request-btn {
  font-family: "Patua One", sans-serif;
  font-weight: normal;
  font-size: 18px;
  background-color: #F0508A;
  color: #FFFFFF;
  padding: 20px 66px;
  border-radius: 5px;
}
.request-btn:hover, .request-btn:focus {
  color: #FFFFFF;
}
.request-btn:hover {
  transition: all 0.1s;
  transform: translateY(5px);
  box-shadow: 0 10px 10px #00000022;
}

.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  padding: 9px 0;
}

.required-field {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #153A59;
}

/* Hero section
================================================== */
.hero {
  padding-bottom: 56px;
  position: relative;
}
.hero .trustpilot-widget {
  margin-left: -15px;
}
.hero .hero-bg {
  background-color: #153A59;
  width: 100%;
  height: 584px;
  position: absolute;
  top: 64px;
}
.hero .hero-bg .hero-img {
  background: url("../images/main_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 259px;
  position: relative;
}
.hero .hero-descr {
  font-size: 16px;
  color: #FFFFFF;
}
.hero hr {
  border-top: 3px solid #F0508A;
}
.hero .card {
  border: none;
  border-radius: 5px;
}
.hero .card .card-body {
  border: 1px solid #B5CBEA;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.11);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.hero .card .card-body p {
  font-size: 14px;
}
.hero .card .card-body .card-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #153A59;
}
.hero .card .card-body .form-control-label {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #153A59;
}
.hero .card .card-body .form-control {
  border: 1px solid #B5CBEA;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.hero .card .card-submit {
  background-color: #F0508A;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Type studies section
================================================== */
.type-studies {
  background-color: #F8F9FA;
  padding: 44px 0 50px;
}
.type-studies .type-studies-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #153A59;
}
.type-studies .circle-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 157px;
  height: 157px;
}
.type-studies .bg-blue {
  background: #2464B0;
}
.type-studies .bg-pink {
  background: #B93E73;
}
.type-studies .bg-dark-blue {
  background: #153A59;
}
.type-studies .type-img-style {
  width: 80px;
}

/* Who is section
================================================== */
.who-is {
  padding: 50px 0;
}
.who-is .list-style {
  padding: 0 15px;
}
.who-is .list-style .list-item {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #153A59;
}

.who-is-bg {
  background: url("../images/people.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 271px;
}

/* How will learn section
================================================== */
.how-will-learn {
  background-color: #F8F9FA;
  padding: 50px 0 88px;
}
.how-will-learn .how-will-descr {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 28px;
  color: #F0508A;
}

/* Testimonials section
================================================== */
.testimonials {
  padding: 62px 0 86px;
}
.testimonials .card {
  background-color: #FFFFFF;
  border: 1px solid #DCDCDC;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
}
.testimonials .card .card-body {
  padding: 40px;
  border: none;
  box-shadow: none;
}
.testimonials .card .testimonials-title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #272727;
}
.testimonials .card .testimonials-descr {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #272727;
}
.testimonials .icon-bottom-right {
  pointer-events: none;
  position: absolute;
  bottom: -50px;
  right: -40px;
  width: 161px;
  height: 210px;
  transition: all 0.3s;
}
.testimonials .view-all-link {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #85A5CC;
}
.testimonials .circle-top-right {
  position: absolute;
  top: -20vw;
  right: -15vw;
  content: "";
  background: #ecf2fa;
  width: 30vw;
  height: 30vw;
  z-index: -1;
  border-radius: 50%;
}
.testimonials .circle-bottom-left {
  position: absolute;
  bottom: -20vw;
  left: -15vw;
  content: "";
  background: #ECF2FA;
  width: 40vw;
  height: 40vw;
  z-index: -1;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
