@import "bootstrap.min.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.css";
@import "fonts.css";
.pt-30px {
  padding-top: 30px;
}

.pt-100px {
  padding-top: 100px;
}

.pt-120px {
  padding-top: 120px;
}

.pt-260px {
  padding-top: 260px;
}

.pt-320px {
  padding-top: 320px;
}

.font-weight-500 {
  font-weight: 500;
}

.font-size-12 {
  font-size: 12px;
}

.text-primary {
  color: #153A59 !important;
}

.text-muted {
  color: #8D8D8D !important;
}

.text-pink {
  color: #F0508A !important;
}

.text-decoration-underline {
  text-decoration: underline;
}

h1, h2, h3 {
  font-family: "Patua One", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 45px;
  line-height: 54px;
  color: #FFFFFF;
}

h2 {
  font-size: 28px;
  color: #153A59;
}

h3 {
  font-size: 22px;
  color: #153A59;
}
h3 span {
  font-weight: bold;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.16);
}

p {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #153A59;
}

.striped-border {
  position: relative;
  top: -16px;
  border-top: 6px solid;
  border-image: -moz-linear-gradient(left, #F0508A 0%, #F0508A 20%, #B93E73 20%, #B93E73 20%, #B93E73 40%, #B5CBEA 40%, #B5CBEA 40%, #B93E73 40%, #B5CBEA 40%, #B5CBEA 40%, #B5CBEA 60%, #2464B0 60%, #2464B0 80%, #153A59 80%, #153A59 80%, #153A59 100%);
  /* FF3.6+ */
  border-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #F0508A), color-stop(20%, #F0508A), color-stop(20%, #B93E73), color-stop(20%, #B93E73), color-stop(40%, #B93E73), color-stop(40%, #B5CBEA), color-stop(40%, #B5CBEA), color-stop(40%, #B93E73), color-stop(40%, #B5CBEA), color-stop(40%, #B5CBEA), color-stop(60%, #B5CBEA), color-stop(60%, #2464B0), color-stop(80%, #2464B0), color-stop(80%, #153A59), color-stop(80%, #153A59), color-stop(100%, #153A59)) 1 stretch repeat;
  /* Chrome,Safari4+ */
  border-image: -webkit-linear-gradient(left, #F0508A 0%, #F0508A 20%, #B93E73 20%, #B93E73 20%, #B93E73 40%, #B5CBEA 40%, #B5CBEA 40%, #B93E73 40%, #B5CBEA 40%, #B5CBEA 40%, #B5CBEA 60%, #2464B0 60%, #2464B0 80%, #153A59 80%, #153A59 80%, #153A59 100%) 1 stretch repeat;
  /* Chrome10+,Safari5.1+ */
  border-image: -o-linear-gradient(left, #F0508A 0%, #F0508A 20%, #B93E73 20%, #B93E73 20%, #B93E73 40%, #B5CBEA 40%, #B5CBEA 40%, #B93E73 40%, #B5CBEA 40%, #B5CBEA 40%, #B5CBEA 60%, #2464B0 60%, #2464B0 80%, #153A59 80%, #153A59 80%, #153A59 100%) 1 stretch repeat;
  /* Opera 11.10+ */
  border-image: -ms-linear-gradient(left, #F0508A 0%, #F0508A 20%, #B93E73 20%, #B93E73 20%, #B93E73 40%, #B5CBEA 40%, #B5CBEA 40%, #B93E73 40%, #B5CBEA 40%, #B5CBEA 40%, #B5CBEA 60%, #2464B0 60%, #2464B0 80%, #153A59 80%, #153A59 80%, #153A59 100%) 1 stretch repeat;
  /* IE10+ */
  border-image: linear-gradient(to right, #F0508A 0%, #F0508A 20%, #B93E73 20%, #B93E73 20%, #B93E73 40%, #B5CBEA 40%, #B5CBEA 40%, #B93E73 40%, #B5CBEA 40%, #B5CBEA 40%, #B5CBEA 60%, #2464B0 60%, #2464B0 80%, #153A59 80%, #153A59 80%, #153A59 100%) 1 stretch repeat;
  /* W3C */
}

.striped-border-bottom {
  border-top: 6px solid;
  border-image: -moz-linear-gradient(left, #153A59 0%, #153A59 20%, #2464B0 20%, #2464B0 20%, #2464B0 40%, #B5CBEA 40%, #B5CBEA 40%, #2464B0 40%, #B5CBEA 40%, #B5CBEA 40%, #B5CBEA 60%, #B93E73 60%, #B93E73 80%, #F0508A 80%, #F0508A 80%, #F0508A 100%);
  /* FF3.6+ */
  border-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #153A59), color-stop(20%, #153A59), color-stop(20%, #2464B0), color-stop(20%, #2464B0), color-stop(40%, #2464B0), color-stop(40%, #B5CBEA), color-stop(40%, #B5CBEA), color-stop(40%, #2464B0), color-stop(40%, #B5CBEA), color-stop(40%, #B5CBEA), color-stop(60%, #B5CBEA), color-stop(60%, #B93E73), color-stop(80%, #B93E73), color-stop(80%, #F0508A), color-stop(80%, #F0508A), color-stop(100%, #F0508A)) 1 stretch repeat;
  /* Chrome,Safari4+ */
  border-image: -webkit-linear-gradient(left, #153A59 0%, #153A59 20%, #2464B0 20%, #2464B0 20%, #2464B0 40%, #B5CBEA 40%, #B5CBEA 40%, #2464B0 40%, #B5CBEA 40%, #B5CBEA 40%, #B5CBEA 60%, #B93E73 60%, #B93E73 80%, #F0508A 80%, #F0508A 80%, #F0508A 100%) 1 stretch repeat;
  /* Chrome10+,Safari5.1+ */
  border-image: -o-linear-gradient(left, #153A59 0%, #153A59 20%, #2464B0 20%, #2464B0 20%, #2464B0 40%, #B5CBEA 40%, #B5CBEA 40%, #2464B0 40%, #B5CBEA 40%, #B5CBEA 40%, #B5CBEA 60%, #B93E73 60%, #B93E73 80%, #F0508A 80%, #F0508A 80%, #F0508A 100%) 1 stretch repeat;
  /* Opera 11.10+ */
  border-image: -ms-linear-gradient(left, #153A59 0%, #153A59 20%, #2464B0 20%, #2464B0 20%, #2464B0 40%, #B5CBEA 40%, #B5CBEA 40%, #2464B0 40%, #B5CBEA 40%, #B5CBEA 40%, #B5CBEA 60%, #B93E73 60%, #B93E73 80%, #F0508A 80%, #F0508A 80%, #F0508A 100%) 1 stretch repeat;
  /* IE10+ */
  border-image: linear-gradient(to right, #153A59 0%, #153A59 20%, #2464B0 20%, #2464B0 20%, #2464B0 40%, #B5CBEA 40%, #B5CBEA 40%, #2464B0 40%, #B5CBEA 40%, #B5CBEA 40%, #B5CBEA 60%, #B93E73 60%, #B93E73 80%, #F0508A 80%, #F0508A 80%, #F0508A 100%) 1 stretch repeat;
  /* W3C */
}

/* International Telephone Input
================================================== */
.iti__flag {
  background-image: url("../images/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../images/flags@2x.png");
  }
}
.iti {
  display: block;
}

.iti--separate-dial-code .iti__selected-flag {
  background-color: #F6F8F9;
}

/* iframe video
================================================== */
.iframe-container {
  position: relative;
  border-radius: 10px;
  transition: all 0.3s;
}
.iframe-container iframe {
  border: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 206px;
  transition: all 0.3s;
  cursor: pointer;
}

.video-container {
  border-radius: 10px;
}

/* Custom checkbox
================================================== */
.custom-checkbox .custom-control-label::before {
  background-color: #FFFFFF;
  border: 1px solid #B5CBEA;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  width: 21px;
  height: 21px;
  top: 0px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #FFFFFF;
  cursor: pointer;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
  background-color: #FFFFFF;
  cursor: pointer;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("../images/checkbox.svg");
}

.custom-control-label::after {
  top: 2px;
  left: -21px;
  cursor: pointer;
}

.custom-control-label {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #153A59;
  vertical-align: middle;
}
.custom-control-label a {
  color: #153A59;
  text-decoration: underline;
}

.submit-btn {
  font-family: "Patua One", sans-serif;
  font-weight: normal;
  font-size: 18px;
  background-color: #F0508A;
  color: #FFFFFF;
  padding: 20px 0;
}
.submit-btn:hover, .submit-btn:focus {
  color: #FFFFFF;
}

.request-btn {
  font-family: "Patua One", sans-serif;
  font-weight: normal;
  font-size: 18px;
  background-color: #F0508A;
  color: #FFFFFF;
  padding: 20px 66px;
  border-radius: 5px;
}
.request-btn:hover, .request-btn:focus {
  color: #FFFFFF;
}

.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  padding: 9px 0;
}

.required-field {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #153A59;
}

/* Hero section
================================================== */
.hero {
  padding-bottom: 56px;
  position: relative;
}
.hero .hero-img {
  background: url("../images/main_bg.png"), #153A59;
  background-size: 100% 259px;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 584px;
  position: absolute;
  top: 64px;
}
.hero .hero-descr {
  font-size: 16px;
  color: #FFFFFF;
}
.hero hr {
  border-top: 3px solid #F0508A;
}
.hero .card {
  border: none;
  border-radius: 5px;
}
.hero .card .card-body {
  border: 1px solid #B5CBEA;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.11);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.hero .card .card-body .card-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #153A59;
}
.hero .card .card-body .form-control-label {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #153A59;
}
.hero .card .card-body .form-control {
  border: 1px solid #B5CBEA;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.hero .card .card-submit {
  background-color: #F0508A;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Type studies section
================================================== */
.type-studies {
  background-color: #F8F9FA;
  padding: 44px 0 50px;
}
.type-studies .type-studies-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #153A59;
}
.type-studies .circle-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 157px;
  height: 157px;
}
.type-studies .bg-blue {
  background: #2464B0;
}
.type-studies .bg-pink {
  background: #B93E73;
}
.type-studies .bg-dark-blue {
  background: #153A59;
}
.type-studies .type-img-style {
  width: 80px;
}

/* Who is section
================================================== */
.who-is {
  padding: 50px 0;
}
.who-is .list-style {
  padding: 0 15px;
}
.who-is .list-style .list-item {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #153A59;
}

.who-is-bg {
  background: url("../images/people.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 271px;
}

/* How will learn section
================================================== */
.how-will-learn {
  background-color: #F8F9FA;
  padding: 50px 0 88px;
}
.how-will-learn .how-will-descr {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 28px;
  color: #F0508A;
}

/* Testimonials section
================================================== */
.testimonials {
  padding: 62px 0 86px;
}
.testimonials .card {
  background-color: #FFFFFF;
  border: 1px solid #DCDCDC;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
}
.testimonials .card .card-body {
  padding: 40px;
  border: none;
  box-shadow: none;
}
.testimonials .card .testimonials-title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #272727;
}
.testimonials .card .testimonials-descr {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #272727;
}
.testimonials .icon-bottom-right {
  pointer-events: none;
  position: absolute;
  bottom: -80px;
  right: -40px;
  width: 161px;
  height: 210px;
  transition: all 0.3s;
}
.testimonials .view-all-link {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #85A5CC;
}
.testimonials .circle-top-right {
  position: absolute;
  top: -20vw;
  right: -15vw;
  content: "";
  background: #ecf2fa;
  width: 30vw;
  height: 30vw;
  z-index: -1;
  border-radius: 50%;
}
.testimonials .circle-bottom-left {
  position: absolute;
  bottom: -20vw;
  left: -15vw;
  content: "";
  background: #ECF2FA;
  width: 40vw;
  height: 40vw;
  z-index: -1;
  border-radius: 50%;
}
.testimonials .owl-carousel .owl-nav button.owl-prev {
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  border: 1px solid #D7DCE1;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: -50px;
}
.testimonials .owl-carousel .owl-nav button.owl-prev span {
  display: block;
  color: #D7DCE1;
}
.testimonials .owl-carousel .owl-nav button.owl-next {
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  border: 1px solid #D7DCE1;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  right: -35px;
}
.testimonials .owl-carousel .owl-nav button.owl-next span {
  display: block;
  color: #D7DCE1;
}

/*# sourceMappingURL=style.css.map */
