$blue-color: #153A59;
$light-blue-color: #B5CBEA;
$pink-color: #F0508A;
$white-color: #FFFFFF;

.pt-30px {
    padding-top: 30px;
}

.pt-100px {
    padding-top: 100px;
}

.pt-80px {
    padding-top: 80px;
}

.pt-260px {
    padding-top: 260px;
}

.pt-320px {
    padding-top: 320px;
}

.font-weight-500 {
    font-weight: 500;
}

.font-size-12 {
    font-size: 12px;
}

.text-primary {
    color: $blue-color!important;
}

.text-muted {
    color: #8D8D8D!important;
}

.text-pink {
    color: $pink-color!important;
}

.text-decoration-underline {
    text-decoration: underline;
}