@import "variables";
@media (max-width: 992px) {
  .pt-120px {
    padding-top: 0px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
  .pt-100px {
    padding-top: 50px;
  }
  .pt-147px {
    padding-top: 147px;
  }
  .pt-120px {
    padding-top: 210px;
  }
  .pt-320px {
    padding-top: 200px;
  }
  .dropdown-menu {
    background-color: transparent;
  }
  .nav-item:after {
    display: none;
  }
  .hero {
    padding-bottom: 0;
    .hero-img {
      background: url("../images/main_bg_mobile.png"), $blue-color;
      background-size: 100% 142px;
      background-position: top;
      background-repeat: no-repeat;
      width: 100%;
      height: 529px;
      position: absolute;
      top: 64px;
    }
    .card {
      border-radius: 0;
    }
    .card-body {
      border: none;
      box-shadow: none;
    }
    .card-submit {
      margin: 0 16px;
      border-radius: 5px;
    }
  }
  .type-studies {
    .circle-img {
      width: 95px;
      height: 95px;
    }
    .type-img-style {
      width: 42px;
    }
  }
  .people-img {
    background: url(../images/people_mobile.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 148px;
  }
  .how-will-learn {
    .how-will-descr {
      font-size: 24px;
      line-height: 28px;
    }
  }
  .iframe-container {
    iframe {
      height: 190px;
    }
  }
}
@media (max-width: 480px) {
  .pt-147px {
    padding-top: 100px;
  }
}
@media (min-width: 320px) and (max-width: 380px) {
  .pt-147px {
    padding-top: 0px;
  }
}